  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Friendcare</a>
        <div class="nav-collapse">
          <ul class="nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>


   <div class="hero-unit" align=center>
   <h1>Can't quite find what you are looking for...</h1>
   <a href="/"><img src="/img/logo.png"></a>
   </div>
