html
 head
  title My App
  block scripts
   script(src='/scripts/jquery.min.js')
   script(src='/scripts/friendcare.js')
 body
  p.
   Welcome to the jungle!

  p.
   Access token

  p= token
  button#logout logout