  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Friendcare</a>
        <div class="nav-collapse">
          <ul class="nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

<div class="container">
 <div class="hero-unit">
   <h1>Welcome to Friendcare</h1>
   <p>
   Do you notice when you lose touch with your friends?
   </p>
   <p>Important connections don't have to disappear because your world became busier, track your de-friends and reconnect with those whom you care about.</p>
   <p>How do we do it? By regularly checking your friend list and recording the changes.
   <p><a class="btn btn-primary btn-large" href="/auth/facebook">Get started by logging in with Facebook</a></p>
 </div>
</div>