<!DOCTYPE html>
<html lang="en">
<head><title><%= title %></title>
 <link rel="stylesheet" href="/stylesheets/bootstrap.css">
 <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
 <style>
      body {
        padding-top: 60px;
      }
 </style>
 <script src="/scripts/jquery-1.7.2.min.js"></script>
 <script src="/scripts/bootstrap.min.js"></script>

</head>
<body>
<%- body %>
<!-- <script src="http://static.ak.fbcdn.net/connect/en_US/core.js"></script> -->
</body>
</html>
