<!DOCTYPE html>
<html lang="en">
<head><title><%= title %></title>
 <meta property="og:title" content="<%= title %>" />
 <meta property="og:type" content="website" />
 <meta property="og:url" content="https://friendcare.herokuapp.com" />
 <meta property="og:image" content="https://friendcare.herokuapp.com/img/logo.png" />
 <meta property="og:site_name" content="Friendcare" />
 <meta property="og:description" content="Follow your friending and de-friending to take better care of those who matter to you the most." />
 <meta property="fb:admins" content="36800015" />
 <link rel="stylesheet" href="/stylesheets/bootstrap.css">
 <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
 <style>
      body {
        padding-top: 60px;
      }
      p#profilepic {
        background-position: center 25%;
        width: 64px;
        height: 64px;
      }
      .smallprofile {
        width: 50px;
        height: 50px;
        padding: 5px;
      }
 </style>
 <script src="/scripts/jquery-1.7.2.min.js"></script>
 <script src="/scripts/bootstrap.min.js"></script>
 <script src="/scripts/jquery.localtime-0.5.js"></script>
 <script type="text/javascript">$.localtime.setFormat({dateAndTime: "yyyy MMM dd HH:mm", dateOnly: "yyyy MMM dd"});</script>

</head>
<body>
<%- body %>

<!-- Facebook -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : 'YOUR_APP_ID', // App ID
      channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
<!-- Facebook end -->
<footer align=center>
<div style="width: 500px;" class="fb-like" data-href="http://friendcare.herokuapp.com" data-send="true" data-width="500" data-show-faces="true" data-action="recommend"></div>
<div class="credits">2012 by <a href="http://gergely.imreh.net" target="_blank">GI</a></div>
</footer>
</body>
</html>
