<!DOCTYPE html>
<html lang="en">
<head><title><%= title %></title>
 <meta property="og:title" content="<%= title %>" />
 <meta property="og:type" content="website" />
 <meta property="og:url" content="https://friendcare.herokuapp.com" />
 <meta property="og:image" content="https://friendcare.herokuapp.com/img/logo.png" />
 <meta property="og:site_name" content="Friendcare" />
 <meta property="og:description" content="Follow your friending and de-friending to take better care of those who matter to you the most." />
 <meta property="fb:admins" content="36800015" />
 <link rel="stylesheet" href="/stylesheets/bootstrap.css">
 <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
 <style>
      body {
        padding-top: 60px;
      }
      p#profilepic {
        background-position: center 25%;
        width: 64px;
        height: 64px;
      }
      .smallprofile {
        padding: 5px;
      }
 </style>
 <script src="/scripts/jquery-1.7.2.min.js"></script>
 <script src="/scripts/bootstrap.min.js"></script>
 <script src="/scripts/jquery.localtime-0.5.js"></script>
 <script type="text/javascript">$.localtime.setFormat({dateAndTime: "yyyy MMM dd HH:mm", dateOnly: "yyyy MMM dd"});</script>

</head>
<body>
<%- body %>
<!-- <script src="http://static.ak.fbcdn.net/connect/en_US/core.js"></script> -->
</body>
</html>
